In [ ]:
# https://python-binance.readthedocs.io/en/latest/overview.html
# https://www.binance.com/en/support/faq/c-6
# https://www.binance.com/en/my/settings/api-management

In [1]:
import requests 
import numpy as np
import pandas as pd

from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
from cred import KEY, SECRET
import futures_sign
from futures_sign import send_signed_request, send_public_request, test_print

ImportError: cannot import name 'test_print' from 'futures_sign' (C:\Users\Home-PC\Desktop\diplom\futures_sign.py)

In [4]:
symbol='ETHUSDT'
client = Client(KEY,SECRET)

In [5]:
limit=500
x = requests.get('https://www.binance.com/fapi/v1/klines?symbol='+symbol+'&limit='+str(limit)+'&interval=5m')

In [46]:
x

In [31]:
df=pd.DataFrame(x.json())
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1707395700000,2419.59,2419.86,2416.25,2418.68,4754.045,1707395999999,11494436.48295,7495,1844.287,4459460.20286,0
1,1707396000000,2418.68,2420.57,2417.20,2420.57,2637.924,1707396299999,6381421.23070,4962,1653.039,3999365.10675,0
2,1707396300000,2420.57,2420.71,2418.22,2418.69,2937.726,1707396599999,7107283.72938,4577,1095.606,2650868.74607,0
3,1707396600000,2418.69,2419.83,2416.81,2419.60,3786.479,1707396899999,9156525.46976,4265,1752.252,4237685.29478,0
4,1707396900000,2419.59,2421.49,2419.59,2421.20,2228.350,1707397199999,5393913.32786,3326,1284.460,3108917.53238,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,1707544200000,2503.00,2503.01,2500.00,2501.98,5465.885,1707544499999,13671655.99869,5786,1707.628,4270541.59107,0
496,1707544500000,2501.98,2504.08,2501.97,2503.04,1831.667,1707544799999,4585148.97869,3083,1232.657,3085748.34869,0
497,1707544800000,2503.03,2505.89,2502.45,2505.00,5410.016,1707545099999,13546119.23267,5101,3427.192,8581617.30340,0
498,1707545100000,2505.00,2505.96,2504.99,2505.22,2613.517,1707545399999,6548430.49827,3553,1418.558,3554376.45650,0
499,1707545400000,2505.22,2505.23,2504.27,2504.27,600.033,1707545699999,1502919.24687,929,55.806,139796.28143,0

In [32]:
cl = client.futures_historical_klines(symbol, '5m', 1706276400000)
pd.DataFrame(cl)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1706276400000,2243.72,2245.31,2243.04,2244.64,5853.256,1706276699999,13135123.33600,7947,3138.555,7043204.15895,0
1,1706276700000,2244.64,2244.83,2241.55,2242.48,6676.256,1706276999999,14973868.47619,7632,2914.859,6537449.68232,0
2,1706277000000,2242.48,2242.48,2232.72,2237.80,26980.103,1706277299999,60365336.01668,28235,11341.067,25374042.93485,0
3,1706277300000,2237.73,2241.32,2236.75,2239.92,7092.441,1706277599999,15884751.48605,10613,4256.152,9532480.50706,0
4,1706277600000,2239.93,2244.50,2239.04,2244.23,10497.320,1706277899999,23538347.21402,11426,7112.403,15948094.29775,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4228,1707544800000,2503.03,2505.89,2502.45,2505.00,5410.016,1707545099999,13546119.23267,5101,3427.192,8581617.30340,0
4229,1707545100000,2505.00,2505.96,2504.99,2505.22,2613.517,1707545399999,6548430.49827,3553,1418.558,3554376.45650,0
4230,1707545400000,2505.22,2505.36,2503.73,2504.26,1928.813,1707545699999,4831058.88927,3212,941.282,2357582.21499,0
4231,1707545700000,2504.27,2505.00,2503.49,2504.99,1341.899,1707545999999,3360663.26099,3097,664.086,1663092.35047,0
4232,1707546000000,2504.99,2505.49,2504.99,2505.38,410.139,1707546299999,1027526.88239,976,292.926,733859.39958,0

In [33]:
df.columns=['open_time','open','high','low','close','volume','close_time','d1','d2','d3','d4','d5']
df=df.drop(['d1','d2','d3','d4','d5'],axis=1)
df

,open_time,open,high,low,close,volume,close_time
0,1707395700000,2419.59,2419.86,2416.25,2418.68,4754.045,1707395999999
1,1707396000000,2418.68,2420.57,2417.20,2420.57,2637.924,1707396299999
2,1707396300000,2420.57,2420.71,2418.22,2418.69,2937.726,1707396599999
3,1707396600000,2418.69,2419.83,2416.81,2419.60,3786.479,1707396899999
4,1707396900000,2419.59,2421.49,2419.59,2421.20,2228.350,1707397199999
...,...,...,...,...,...,...,...
495,1707544200000,2503.00,2503.01,2500.00,2501.98,5465.885,1707544499999
496,1707544500000,2501.98,2504.08,2501.97,2503.04,1831.667,1707544799999
497,1707544800000,2503.03,2505.89,2502.45,2505.00,5410.016,1707545099999
498,1707545100000,2505.00,2505.96,2504.99,2505.22,2613.517,1707545399999
499,1707545400000,2505.22,2505.23,2504.27,2504.27,600.033,1707545699999

In [30]:
# Get last 500 kandels 5 minutes for Symbol

def get_futures_klines(symbol,limit=500):
    x = requests.get('https://www.binance.com/fapi/v1/klines?symbol='+symbol+'&limit='+str(limit)+'&interval=5m')
    df=pd.DataFrame(x.json())
    df.columns=['open_time','open','high','low','close','volume','close_time','d1','d2','d3','d4','d5']
    df=df.drop(['d1','d2','d3','d4','d5'],axis=1)
    df['open']=df['open'].astype(float)
    df['high']=df['high'].astype(float)
    df['low']=df['low'].astype(float)
    df['close']=df['close'].astype(float)
    df['volume']=df['volume'].astype(float)
    return(df)

In [52]:
# Open position for Sybol with 

def open_position(symbol,s_l,quantity_l):
    sprice=get_symbol_price(symbol)

    if(s_l=='long'):
        close_price=str(round(sprice*(1+0.01),2))
        params = {
            "batchOrders": [
                {
                    "symbol":symbol,
                    "side": "BUY",
                    "type": "LIMIT",
                    "quantity": str(quantity_l),
                    "timeInForce":"GTC",
                    "price": close_price        

                }
            ]
        }
        responce = send_signed_request('POST', '/fapi/v1/batchOrders', params)
        
    
    if(s_l=='short'):
        close_price=str(round(sprice*(1-0.01),2))
        params = {
            "batchOrders": [
                {
                    "symbol":symbol,
                    "side": "SELL",
                    "type": "LIMIT",
                    "quantity": str(quantity_l),
                    "timeInForce":"GTC",
                    "price": close_price
                }
           ]
        }
        responce = send_signed_request('POST', '/fapi/v1/batchOrders', params)

In [10]:
# Close position for symbol with quantity

def close_position(symbol,s_l,quantity_l):
    sprice=get_symbol_price(symbol)

    if(s_l=='long'):
        close_price=str(round(sprice*(1-0.01),2))
        params = {
                    "symbol":symbol,
                    "side": "SELL",
                    "type": "LIMIT",
                    "quantity": str(quantity_l),
                    "timeInForce":"GTC",
                    "price": close_price
                }
        responce = send_signed_request('POST', '/fapi/v1/order', params)
    if(s_l=='short'):
        close_price=str(round(sprice*(1+0.01),2))
        params = {
                
                    "symbol":symbol,
                    "side": "BUY",
                    "type": "LIMIT",
                    "quantity": str(quantity_l),
                    "timeInForce":"GTC",
                    "price": close_price        
                }
        responce = send_signed_request('POST', '/fapi/v1/order', params)

In [21]:
get_opened_positions(symbol)

['', 0.0, 0.0, 2, 10.67, 0.0, 0]

In [34]:
positions=pd.DataFrame(status['positions'])
positions

NameError: name 'status' is not defined

In [35]:
import datetime
time_stamp = datetime.datetime.now().timestamp()
time_stamp
x = requests.get('https://www.binance.com/fapi/v1/klines?symbol='+symbol+'&limit='+str(limit)+'&interval=5m')
b = requests.get('https://www.binance.com/fapi/v2/account?timestamp='+str(time_stamp))

b.json()

{'code': -2014, 'msg': 'API-key format invalid.'}

In [19]:
# Find all opened positions

def get_opened_positions(symbol):
    status = client.futures_account()
    positions=pd.DataFrame(status['positions'])
    a = positions[positions['symbol']==symbol]['positionAmt'].astype(float).tolist()[0]
    leverage = int(positions[positions['symbol']==symbol]['leverage'])
    entryprice = positions[positions['symbol']==symbol]['entryPrice']
    profit = float(status['totalUnrealizedProfit'])
    balance = round(float(status['totalWalletBalance']),2)
    if a>0:
        pos = "long"
    elif a<0:
        pos = "short"
    else: 
        pos = ""
    return([pos,a,profit,leverage,balance,round(float(entryprice),3),0])

In [14]:
# Close all orders 

def check_and_close_orders(symbol):
    global isStop 
    a=client.futures_get_open_orders(symbol=symbol)
    if len(a)>0:
        isStop = False
        client.futures_cancel_all_open_orders(symbol=symbol)

In [15]:
def get_symbol_price(symbol):
    prices = client.get_all_tickers()
    df=pd.DataFrame(prices)
    return float(df[ df['symbol']==symbol]['price'])

In [53]:
position = open_position(symbol,'long',0.01)
position

calling send_sign
base= https://fapi.binance.com
POST https://fapi.binance.com/fapi/v1/batchOrders?batchOrders=%5B%7B%22symbol%22%3A+%22ETHUSDT%22%2C+%22side%22%3A+%22BUY%22%2C+%22type%22%3A+%22LIMIT%22%2C+%22quantity%22%3A+%220.01%22%2C+%22timeInForce%22%3A+%22GTC%22%2C+%22price%22%3A+%222529.37%22%7D%5D&timestamp=1707548149406&signature=1d2744f21aad6d39bd8e7e9161a4a4d2dcdd64e870576a257a349135e4572d24

[{'orderId': 8389765650842044906,
  'symbol': 'ETHUSDT',
  'status': 'NEW',
  'clientOrderId': 'wcFECSjFAncLFbFLHZo6c2',
  'price': '2529.37',
  'avgPrice': '0.00',
  'origQty': '0.010',
  'executedQty': '0.000',
  'cumQty': '0.000',
  'cumQuote': '0.00000',
  'timeInForce': 'GTC',
  'type': 'LIMIT',
  'reduceOnly': False,
  'closePosition': False,
  'side': 'BUY',
  'positionSide': 'BOTH',
  'stopPrice': '0.00',
  'workingType': 'CONTRACT_PRICE',
  'priceProtect': False,
  'origType': 'LIMIT',
  'priceMatch': 'NONE',
  'selfTradePreventionMode': 'NONE',
  'goodTillDate': 0,
  'updateTime': 1707548150425}]

In [57]:
get_opened_positions(symbol)

['long', 0.01, -0.03792504, 3, 10.6, 2503.01, 0]

In [58]:
close_position(symbol,'long',0.01)

calling send_sign
base= https://fapi.binance.com
POST https://fapi.binance.com/fapi/v1/order?symbol=ETHUSDT&side=SELL&type=LIMIT&quantity=0.01&timeInForce=GTC&price=2472.67&timestamp=1707552868000&signature=35398c62ca9dba1e436c3892fa8a62e1af567be82b595b7800d1cfa780732229

In [59]:
get_opened_positions(symbol)

['', 0.0, 0.0, 3, 10.53, 0.0, 0]